.title-center {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  height: 100%;
}

.title-center h1 {
  margin: 0;
  text-align: center;
  text-shadow: -.03em -.03em .02em #fff;
}

@media (min-width: 321px){
  .title-center {
    font-size: 2em;
  }
}

@media (min-width: 769px){
  .title-center {
    font-size: 3em;
  }
}
