@import "../variables/";

:root {
  /* define your namespaced vars here
  --fontSize-normal-card: 1rem;
  */
}

.card {
  background: var(--background-content);
  padding: var(--padding-normal);
}

.card-inverted {
  background: var(--background-inverted);
  color: var(--color-text-inverted);
}

/* 35rem is the arbitrarily decided break point */
@media (min-width: 36rem) {
  .card {
    padding: var(--padding-large);
  }
}
