@import "../variables/";

:root {
  /* define your namespaced vars here
  --fontSize-normal-card: 1rem;
  */
}

.card {
  background: var(--background-content);
  padding: var(--padding-normal);
}

.card-inverted {
  background: var(--background-inverted);
  color: var(--color-text-inverted);
}

.card-inverted a {
  color: var(--color-text-inverted);
  text-decoration: underline;
  padding: var(--padding-small);
  margin: -var(--padding-small);
}

.card-inverted a:focus
, .card-inverted a:hover {
  background: var(--color-text-inverted);
  color: var(--color-brand);
  text-decoration: none;
}

.card-inverted a:active {
  background: transparent;
  color: var(--color-text-inverted);
  text-decoration: underline;
}

.card img:first-child
, .card img:last-child {
  display: block;
  width: calc(100% + 2 * var(--padding-normal));
  margin: -var(--padding-normal);
  margin-bottom: var(--padding-normal);
}

/* 35rem is the arbitrarily decided break point */
@media (min-width: 36rem) {
  .card {
    padding: var(--padding-large);
  }

  .card img:first-child
  , .card img:last-child {
    width: calc(100% + 2 * var(--padding-large));
    margin: -var(--padding-large);
    margin-bottom: var(--padding-normal);
  }
}
