@import "normalize.css";

:root {
  var-background: #eee;
  var-font-size-base: 16px;
  var-font-size-normal: 300;
  var-font-size-bold: 700;
  var-font-sans-serif: 'Lato', sans-serif;;

  font-size: var(font-size-base);
  font-weight: var(font-size-normal);
}

html
, body {
  height: 100%;
}

body {
  background: var(background);
  font-family: var(font-sans-serif);
}
