@import "../variables/";

.agendaEvent {
  display: block;
  width: 100%;
  padding: var(--padding-normal);
  /*border-right: var(--border-widgetSeperator-inverse);*/
}

.agendaEvent-locationName
, .agendaEvent-locationAddress {
  margin: var(--padding-small) 0;
}

.agendaEvent-title {
  display: flex;
  font-size: var(--fontSize-h3);
  font-weight: var(--fontWeight-body-bold);
  color: var(--color-brand);
}

.agendaEvent-title-text
, .agendaEvent-title-time {
  display: block;
}

.agendaEvent-title-text {
  flex: 1;
}

.agendaEvent-title-time {
  /* 6 is enough so that the content doesn't get pushed off to the side*/
  flex-basis: 6em;
  color: var(--color-text-default);
  margin-left: var(--padding-small);
}

/* this is the same media query from agenda-day*/
@media (min-width: 36rem) {
  .agendaEvent-title {
    flex-direction: column;
  }

  .agendaEvent-title-time {
    flex-basis: auto;
    margin-left: 0;
    margin-top: var(--padding-small);
  }
}

/* 54rem comes from the agenda css*/
@media (min-width: 54rem){
  .agendaEvent {
    /* remove the 100% width so that the content doesn't over flow the column */
    width: auto;
  }
}

@media (min-width: 64rem) {
  .agendaEvent {
    /* go back to even spacing so that we can have columns */
    width: 100%;
  }

  .agendaEvent-title {
    flex-direction: row;
  }

  .agendaEvent-title-time {
    margin-left: var(--padding-small);
    margin-top: 0;
  }
}
