@import "../variables/";

:root {
  /* define your namespaced vars here
  --fontSize-normal-widgetWhereTo: 1rem;
  */
}

.widgetWhereTo {
  display: flex;
  /* wrap because each child spans full width*/
  flex-direction: column;

  padding: var(--padding-xLarge);
  background: var(--color-brand);
  color: var(--color-text-inverted);
  text-decoration: none;
}

.widgetWhereTo-title {
  margin: 0;
}

/* fill the whole space so the link goes to the bottom*/
.widgetWhereTo-description {
  flex: 1;
}

.widgetWhereTo-recs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widgetWhereTo-link {
  display: inline-block;
  padding: var(--padding-small);
  /* so that the left edge of the text still lines up */
  margin-left: -var(--padding-small);
  color: var(--color-text-inverted);
  text-decoration: underline;
}

.widgetWhereTo-link:hover
, .widgetWhereTo-link:focus {
  background: var(--color-text-inverted);
  color: var(--color-brand);
  text-decoration: none;
}
