@import "normalize.css/normalize.css";
@import "@getable/lato";
@import "../variables/";

:root {
  font-family: var(--fontFamily-lato);
  font-size: var(--fontSize-default);
  color: var(--color-text-default);
  --background-entryNav: var(--background-content);
}

* {
  box-sizing: border-box;
}


html, body, #app {
  height: 100%;
  background: var(--background-body);
}

#app {
  display: flex;
  flex-direction: column;
}

abbr > a {
  color: var(--color-text-default);
  text-decoration: none;
}

.entry {
  flex: 1;
  display: inline-flex;
  width: 100%;
  flex-direction: column-reverse;
}

.entry-nav {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--background-entryNav);
  border-top: var(--border-widgetSeperator-inverted);
}

.entry-link {
  display: block;
  flex: 1;
  padding: var(--padding-normal);
  border-bottom: var(--border-widgetSeperator-inverted);
  color: var(--color-text-default);
  font-size: var(--fontSize-h2);
  background: var(--background-content);
  text-decoration: none;
}

.entry-link:last-child {
}

.entry-link.active {
  display: none;
}

.entry-link:hover:not(.active) {
  color: var(--color-grey50);
}

.entry-link--home span {
  line-height: 1;
  vertical-align: middle;
}

.entry-amp {
  vertical-align: bottom;
  font-size: var(--fontSize-h1);
  font-family: var(--fontFamily-playfair);
  color: var(--color-brand);
}

.entry-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.entry-content > * {
  flex: 1;
}

@media (min-width: 35rem) {
  .entry {
    flex-direction: column;
  }

  .entry-content {
    /*padding: var(--padding-large);*/
  }

  .entry-nav {
    flex-direction: row;
    align-content: center;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2) inset;
    border-bottom: var(--border-widgetSeperator-inverted);
  }

  .entry-link {
    padding: var(--padding-large);
    border-bottom: 0;
    /*border-right: var(--border-widgetSeperator);*/
  }

  .entry-link:last-child {
    /*border-right: 0;*/
  }

  .entry-link.active {
    display: block;
    color: var(--color-brand);
  }

  .entry-link--home {
    /*flex: 2;*/
  }

  .entry-link--home.active {
    /*background: var(--background-entryNav);*/
    /*color: var(--color-brand);*/
  }
}
