@import "normalize.css/normalize.css";
@import "@getable/lato";
@import "../variables/";

:root {
  font-family: var(--fontFamily-lato);
  color: var(--color-text-default);
}

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  background: var(--background-body);
}
