:root {
  --color-black30: rgb(30,30,30);
  --color-grey50: rgb(125,125,125);
  --color-grey10: rgb(210,210,210);
  --color-white30: rgb(245,245,245);
  --color-white10: rgb(253,253,253);
  --color-brand: rgb(241, 86, 63);

  --color-text-default: var(--color-black30);
  --color-text-inverted: var(--color-white30);
  --color-text-invertedHighlight: var(--color-white10);

  --background-body: var(--color-white30);
  --background-content: var(--color-white10);
  --background-inverted: var(--color-brand);

  --fontSize-h1: 2rem;
  --fontSize-h2: 1.5rem;
  --fontSize-h3: 1.3rem;
  --fontSize-h4: 1.3rem;
  --fontSize-h5: 1rem;
  --fontSize-h6: 1rem;
  --fontSize-default: 18px;
  --fontSize-tiny: 0.5rem;

  --fontWeight-lato-normal: 400;
  --fontWeight-lato-bold: 800;
  --fontFamily-lato: 'Lato' sans-serif;
  --fontFamily-playfair: 'Playfair Display', serif;
  --fontSize-default: 1rem;

  --fontWeight-body-bold: var(--fontWeight-lato-bold);

  --padding-small: 0.333333333333333333rem;
  --padding-normal: 0.9rem;
  --padding-large: 1.5rem;
  --padding-xLarge: 2.5rem;

  /* just shy of 550px */
  --width-textColumn-narrow: 25rem;
  --width-textColumn-max: 34rem;
  --width-widgetSeperator: var(--padding-normal);

  --border-hairline: 1px solid var(--color-grey10);
  --border-widgetSeperator: var(--width-widgetSeperator) solid var(--background-body);
  --border-widgetSeperator-inverted: var(--width-widgetSeperator) solid var(--color-brand);
  --border-narrow: 2px solid var(--color-grey10);
  --border-brand-narrow: 2px solid var(--color-brand);
}
